.DogsList-name {
  font-family: "Shadows Into Light", cursive;
}

.DogsList-thumbnail {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border: 10px solid #fff;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-out;
}

.DogsList-dog:hover .DogsList-thumbnail {
  transform: scale(0.95) translateX(4%) rotateZ(calc(-1 * (7 * 1deg)));
}
