.DogsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 35rem) {
  .DogsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62.5rem) {
  .DogsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.DogsList img {
  width: 100%;
  height: auto;
}
